<div class = "container">
  <div class = "row">
    <div class="px-3 mx-auto">
      <br>
      <br>
      <h1 style="text-align:center">About</h1>
        <p style="text-align:left">
              <br>
              <br>
              ながのCAKEは全国発送可能なケーキ屋さんです。<br>
              お子様からお年寄りの方までお召しあがりいただけるよう、<br>
              様々なバリエーションを用意しております。<br>
              また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
              ぜひご注文ください。
        </p>

      

        <div class="about-image">
        </div>
      </div>
    </div>
    </div>
  </div>
</div>